<%= form_with(model: message, local: true) do |form| %>
  <%= render 'shared/error_messages', object: message %>

  <div class="form-group">
    <%= form.text_area :text, size: '1x5' , class: 'form-control', placeholder: 'Write your text here . . .' %>
  </div>

  <% if user_signed_in? %>
    <div class="form-group">
      <%= form.label :password, 'Message password:' %>
      <%= form.password_field :password, class: 'form-control', placeholder: 'Encrypt your message with password' %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit 'Create message', class: 'btn btn-primary btn-lg center-block' %>
  </div>
<% end %>
