<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <%= render 'layouts/rails_defaults' %>
  </head>

  <body>
    <%= render 'layouts/nav' %>

    <div class="container">
      <% if notice %>
        <div class="alert alert-success"><%= notice %></div>
      <% end %>

      <% if alert %>
        <div class="alert alert-warning"><%= alert %></div>
      <% end %>

      <%= yield %>

      <hr />
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
